@using MvcApplication2.Models


@{
    List<worker> a =ViewData["list"] as List<worker>;
    string name=ViewData["username"] as string;
    int i = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="C:\Users\ehtis\Desktop\p\logo.png" type="image" sizes="30x30">
    <title>NINE TO FIVERR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--ratings-->
    <style>
        body {
            font: 400 15px/1.8 Lato, Arial Verdana;
            font-family: 'Comic Sans MS';
            color: #777;
        }

        h3, h4 {
            margin: 10px 0 30px 0;
            letter-spacing: 10px;
            font-size: 20px;
            color: #111;
        }

        .container {
            padding: 80px 120px;
        }

        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.9;
        }

            .person:hover {
                border-color: #f1f1f1;
            }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
        }

        .carousel-caption h3 {
            color: #fff !important;
        }

        .bg-1 {
            background: #2d2d30;
            color: #bdbdbd;
        }

            .bg-1 h3 {
                color: #fff;
            }

            .bg-1 p {
                font-style: italic;
            }

        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail p {
                margin-top: 15px;
                color: #555;
            }

        .btn {
            padding: 10px 20px;
            background-color: #333;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }

            .btn:hover, .btn:focus {
                border: 1px solid #333;
                background-color: #fff;
                color: #000;
            }

        .modal-header, h4, .close {
            background-color: #333;
            color: #fff !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-header, .modal-body {
            padding: 40px 50px;
        }

        .nav-tabs li a {
            color: #777;
        }

        #googleMap {
            width: 100%;
            height: 400px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .navbar {
            font-family: Montserrat, sans-serif;
            margin-bottom: 0;
            background-color: #2d2d30;
            border: 0;
            font-size: 11px !important;
            letter-spacing: 4px;
            opacity: 0.9;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #d5d5d5 !important;
            }

        .navbar-nav li a:hover {
            color: #fff !important;
        }

        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #29292c !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
        }

        .open .dropdown-toggle {
            color: #fff;
            background-color: #555 !important;
        }

        .dropdown-menu li a {
            color: #000 !important;
        }

            .dropdown-menu li a:hover {
                background-color: red !important;
            }

        footer {
            background-color: #2d2d30;
            color: #f5f5f5;
            padding: 32px;
        }

            footer a {
                color: #f5f5f5;
            }

                footer a:hover {
                    color: #777;
                    text-decoration: none;
                }

        .form-control {
            border-radius: 0;
        }

        textarea {
            resize: none;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 30%;
        }

            button:hover {
                opacity: 0.8;
            }

        input[type=text], input[type=password] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .checked {
            color: orange;
        }

        .thumbnail > img {
            display: block;
            max-width: 100%;
            height: 400px;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img {
            display: block;
            max-width: 100%;
            height: 650px;
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Nine To Fiverr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="../../Home/allhirings">Hirings</a></li>
                    <li><a href="#Hire">Hire</a></li>
                    <li><a href="#contact">Resolution Center</a></li>
                    <li><a href="#info_change">Change info</a></li>
                    <li><a href="../../Home/BecomeWorker">Switch Worker</a></li>
                    <li><a href="../../Home/getfav">My fav</a></li>
                    <li><a href="../../Home/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    <li><a href="../../Home/search"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Container (profile) -->
    <div id="profile" class="container text-center">
        <h3></h3>
        <p><em></em></p>
        <p>Welcome to the Platform Here You can Hire any worker you can add any worker to your Favourites<br />and if you face any problem you can just write us in resolution Center</p>

        <br />
        <hr />
        <p>Notifications: </p>@name
        <p></p>
        <hr />
        <br>
    </div>

    <!-- Container (TOUR Section) -->
    <div id="Hire" class="bg-1">
        <div class="container">
            <h3 class="text-center">TOP WORKERS</h3>
            <p class="text-center">The best workers of NINE TO FIVERR<br> </p>

            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="../../Content/jonny.png" alt="jonny" width="400" height="300">
                        <p><strong>plumber</strong></p>
                        <p>Average Ratings:</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <br>
                       
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="../../Content/24.jpg" alt="thakur" width="400" height="200">
                        <p><strong>Engenier</strong></p>
                        <p>Average Ratings:</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <br>
                       
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="../../Content/manual.jpg" alt="manual" width="400" height="200">
                        <p><strong>Electrition</strong></p>
                        <p>Average Ratings:</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <br>
                        
                    </div>
                </div>
            </div>
            <hr />
            Worker's List<br />
            @foreach (worker v in @a)
            {
                @v.name 
               
                    <br />
                i = i + 1;
            }
            <br />
            <br />
            <form method="post" action="../../Home/addtofav">
                <label>Add To Favorites</label>
                <select id="workername" name="workername" required class="form-control" style="width:50%">
                    <option>---Worker---</option>
                    @foreach (worker v in @a)
                    {

                        <option value="@v.name">@v.name</option>

                        i = i + 1;
                    }




                </select>

                <button class="btn btn-default" type="submit"> Add</button>
            </form>
            <br />
            <hr />
            <hr />
            <form method="post" action="../Home/hireworker">
                <label>Hire Worker:</label>
                <select id="wname" name="wname" required class="form-control" style="width:50%">
                    <option>---Worker---</option>
                    @foreach ( worker v in @a)
                        {

                            <option value="@v.name">@v.name</option>

                            i = i + 1;
                        }
                   
                    
                   

                </select>
                <select id="details" name="details" required class="form-control" style="width:50%">
                    <option>---Profession---</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Electrition">Electrition</option>
                    <option value="Driver">Driver</option>
                    <option value="Mechanic">Mechanic</option>
                    <option value="Teacher">Teacher</option>

                </select>
                <input class="form-control" style="width:50%" id="deadline" name="deadline" placeholder="deadline" type="date" required>
                
                <button class="btn btn-default" type="submit">Hire</button>
            </form>
            <hr />
        </div>
        <div>


        </div>

    </div>

    

        <!-- Container (Contact Section) -->
        <div id="contact" class="container">
            <h3 class="text-center">Resolution Center</h3>
            <p class="text-center"><em>Any Query!</em></p>

            <div class="row">
                <div class="col-md-4">
                    <p>Get your problem solved</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span>Lahore, Pakistan</p>
                    <p><span class="glyphicon glyphicon-phone"></span>Phone: +123456789</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
                </div>
                <form method="post">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="pname" name="pname" placeholder="Name" type="text" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <input class="form-control" id="pemail" name="pemail" placeholder="Email or Username" type="email" required>
                            </div>
                        </div>
                        <textarea class="form-control" id="pcomments" name="pcomments" placeholder="Comment" rows="5"></textarea>
                        <br>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button class="btn pull-right" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br>

        </div>
    <div id="info_change" class="container">
        <fieldset>
            <legend>Change Password</legend>
            <form method="post" action="../Home/change_password">
                <input class="form-control" style="width:50%" id="oldpassword" name="oldpassword" placeholder="Old Password" onchange="checkpassword()" type="password" required><br>
                <input class="form-control" style="width:50%" id="newpassword" name="newpassword" placeholder="new Password" onchange="checkpassword()" type="password" required><br>
                <button class="btn btn-default" type="submit"> Change</button>
            </form>
        </fieldset>
    </div>

        <!-- Footer -->
        <footer class="text-center">
            <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a><br><br>
           

        </footer>

        <script>
            $(document).ready(function () {
                // Initialize Tooltip
                $('[data-toggle="tooltip"]').tooltip();

                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {

                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
            })
        </script>

</body>
</html>
